.sidebar-chat {
    height: 100%;
    display: grid;
    grid-template-rows: 3em auto 3em;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 2em 0em;
    box-sizing: border-box;
}

.sidebar-chat .user-profil {
    text-align: center;
}

.sidebar-chat .user-profil img {
    width: 6em;
    border-radius: 50%;
}

.sidebar-chat .user-logout {
    text-align: center;
    font-size: 3em;
    color: rgb(52, 52, 52);
    transition: 0.5s;
}

.sidebar-chat .user-logout:hover {
    color: brown;
}

.sidebar-chat .user-logout span {
    cursor: pointer;
}